{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Create Assignment</h2>
    
    <div class="row">
        <!-- Assignment Creation Form -->
        <form method="POST">
            {% csrf_token %}
            <label>Title:</label>
            <input type="text" name="title" required>
            
            <label>Description:</label>
            <textarea name="description"></textarea>
        
            <label>Deadline:</label>
            <input type="datetime-local" name="deadline" required>
        
            <label>Class Name:</label>
            <input type="text" name="class_name" required>
        
            <button type="submit">Create Assignment</button>
        </form>
        
        
    </div>
</div>
{% endblock %}
