{% extends 'teacher/base.html' %}

{% block title %}Timetable{% endblock %}

{% block content %}
<h2>View Timetable</h2>
<label for="classSelect">Select Class:</label>
<select id="classSelect">
    <option>Class 1</option>
    <option>Class 2</option>
    <option>Class 3</option>
</select>
<table class="timetable">
    <tr>
        <th>Day</th>
        <th>7:30 - 8:30</th>
        <th>8:30 - 9:30</th>
        <th>9:30 - 10:30</th>
        <th>Break</th>
        <th>11:00 - 11:50</th>
        <th>11:50 - 12:40</th>
        <th>Lunch</th>
        <th>2:30 - 3:30</th>
    </tr>
    <tr>
        <td class="day">Monday</td>
        <td>MA510</td>
        <td>CS530</td>
        <td>CS540</td>
        <td rowspan="6">Break</td>
        <td>CS550</td>
        <td>CS520</td>
        <td rowspan="6">Lunch</td>
        <td>CS510</td>
    </tr>
    <tr>
        <td class="day">Tuesday</td>
        <td>CS510</td>
        <td>CS540</td>
        <td>CS530</td>
        <td>CS520</td>
        <td>CS550</td>
        <td>CS510</td>
    </tr>
</table>
</div>
{% endblock %}
