{% extends 'teacher/base.html' %}

{% block title %}Exams{% endblock %}

{% block content %}
<h2>View Exams</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Exam Name</th>
                <th>Subject</th>
                <th>Date</th>
                <th>Time</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mid-Term</td>
                <td>Mathematics</td>
                <td>April 15, 2025</td>
                <td>10:00 AM</td>
                <td>2 Hours</td>
            </tr>
            <tr>
                <td>Final Exam</td>
                <td>Physics</td>
                <td>June 10, 2025</td>
                <td>12:00 PM</td>
                <td>3 Hours</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
