{% extends "admin_panel/base.html" %}
{% block content %}
<div class="container">
  <div class="header">
      <h1>Time Table</h1>
      <button class="btn">+ Add Time Table</button>
  </div>
  <div class="grid">
      <div class="card">
          <h2>Monday</h2>
          <p><strong>09:00 - 09:45 AM</strong></p>
          <p>Subject: Maths</p>
          <p>Teacher: Jacquelin</p>
      </div>
      <div class="card">
          <h2>Tuesday</h2>
          <p><strong>09:00 - 09:45 AM</strong></p>
          <p>Subject: Spanish</p>
          <p>Teacher: Erickson</p>
      </div>
      <div class="card">
          <h2>Wednesday</h2>
          <p><strong>09:00 - 09:45 AM</strong></p>
          <p>Subject: Computer</p>
          <p>Teacher: Daniel</p>
      </div>
      <div class="card">
          <h2>Thursday</h2>
          <p><strong>09:00 - 09:45 AM</strong></p>
          <p>Subject: Physics</p>
          <p>Teacher: Teresa</p>
      </div>
      <div class="card">
          <h2>Friday</h2>
          <p><strong>09:00 - 09:45 AM</strong></p>
          <p>Subject: English</p>
          <p>Teacher: Hellana</p>
      </div>
      <div class="card">
          <h2>Saturday</h2>
          <p><strong>09:00 - 09:45 AM</strong></p>
          <p>Subject: English</p>
          <p>Teacher: Hellana</p>
      </div>
  </div>
</div>
{% endblock content%}