{% extends 'base.html' %}
{% load static %}

{% block title %}Home - School Management{% endblock %}

{% block content %}
<header class="hero-section d-flex align-items-center text-center text-white" style="background: url('{% static 'accounts/images/illustration.png' %}') no-repeat center center/cover; height: 100vh;">
    <div class="container position-relative">
        <h1 class="display-4 fw-bold">Future Is Here, Start Exploring Now.</h1>
        <p class="lead">Streamline processes, manage resources, track student data, facilitate communication, and enhance administrative tasks effectively.</p>
        <a href="#" class="btn btn-primary btn-lg rounded-pill">Get Started</a>
    </div>
</header>


{% endblock %} 
