{% extends "base.html" %}
{% block content %}
<h2>Upcoming Exams</h2>
<table>
    <tr>
        <th>Subject</th>
        <th>Date</th>
        <th>Time</th>
        <th>Notes</th>
    </tr>
    {% for exam in exams %}
    <tr>
        <td>{{ exam.subject }}</td>
        <td>{{ exam.exam_date }}</td>
        <td>{{ exam.start_time }} to {{ exam.end_time }}</td>
        <td>{{ exam.notes }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No exams scheduled.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
