{% extends "student/base.html" %}
{% block content %}

<a class="btn btn-success my-3" href="{{timetable_download_path}}">Download Timetable</a>

<table class="table table-bordered table-responsive shadow-lg bg-light">
  <thead class="thead-dark">
      <tr>
          {% for col in timetable.0.keys %}
              <th>{{ col }}</th>
          {% endfor %}
      </tr>
  </thead>
  <tbody>
      {% for row in timetable %}
      <tr>
          {% for value in row.values %}
              <td>{{ value }}</td>
          {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock content %}
